:root {
    --p-breakpoints-xs: 0rem;
    --p-breakpoints-sm: 30.625rem;
    --p-breakpoints-md: 48rem;
    --p-breakpoints-lg: 65rem;
    --p-breakpoints-xl: 90rem;
    --p-color-bg-inverse: #1f2124;
    --p-color-bg-inset-strong: #616a75;
    --p-color-bg-inverse-hover: #616a75;
    --p-color-bg-inverse-active: #87909b;
    --p-color-bg-strong-hover: #caced3;
    --p-color-bg-strong-active: #caced3;
    --p-color-bg-strong: #dde0e4;
    --p-color-bg-subdued-active: #dde0e4;
    --p-color-bg-disabled: #e8eaed;
    --p-color-bg-interactive-disabled: #e8eaed;
    --p-color-bg-app: #f1f2f4;
    --p-color-bg-app-active: #dde0e4;
    --p-color-bg-app-hover: #e8eaed;
    --p-color-bg-app-selected: #e8eaed;
    --p-color-bg-active: #e8eaed;
    --p-color-bg-subdued-hover: #e8eaed;
    --p-color-bg-inset: #f1f2f4;
    --p-color-bg-hover: #f1f2f4;
    --p-color-bg-subdued: #f9fafb;
    --p-color-bg-input: #fff;
    --p-color-bg: #fff;
    --p-color-bg-primary-active: #0c3b2f;
    --p-color-bg-primary-hover: #125443;
    --p-color-bg-primary: #008060;
    --p-color-bg-success-strong: #16a679;
    --p-color-bg-success: #a1edd0;
    --p-color-bg-primary-subdued-active: #c0f2dd;
    --p-color-bg-success-subdued-active: #c0f2dd;
    --p-color-bg-success-subdued: #e0f8ee;
    --p-color-bg-primary-subdued-hover: #e0f8ee;
    --p-color-bg-success-subdued-hover: #f0fdf8;
    --p-color-bg-primary-subdued: #f0fdf8;
    --p-color-bg-primary-subdued-selected: #f0fdf8;
    --p-color-bg-critical-strong-active: #731807;
    --p-color-bg-critical-strong-hover: #9f200a;
    --p-color-bg-critical-strong: #c5280c;
    --p-color-bg-critical-subdued-active: #fbc5bc;
    --p-color-bg-critical: #fbc5bc;
    --p-color-bg-critical-subdued: #fde2dd;
    --p-color-bg-critical-subdued-hover: #fef3f1;
    --p-color-bg-caution-strong: #d89b0d;
    --p-color-bg-caution: #f8d990;
    --p-color-bg-caution-subdued-active: #fae5b2;
    --p-color-bg-caution-subdued: #fcf0d4;
    --p-color-bg-caution-subdued-hover: #fef8ec;
    --p-color-bg-info-strong: #2aacbb;
    --p-color-bg-info-subdued-active: #b8e9ef;
    --p-color-bg-info: #b8e9ef;
    --p-color-bg-info-subdued: #def5f7;
    --p-color-bg-info-subdued-hover: #eefafb;
    --p-color-bg-interactive-active: #0e356c;
    --p-color-bg-interactive-hover: #144995;
    --p-color-bg-interactive: #2463bc;
    --p-color-bg-interactive-subdued-active: #bbd4f7;
    --p-color-bg-interactive-subdued-hover: #e8f0fd;
    --p-color-bg-interactive-subdued: #f0f5fd;
    --p-color-bg-interactive-selected: #f0f5fd;
    --p-color-bg-warning: #fac9a8;
    --p-color-bg-magic-strong: #7945e3;
    --p-color-bg-magic-hover: #e2d6fa;
    --p-color-bg-magic: #ece3fd;
    --p-color-bg-magic-subdued-hover: #ece3fd;
    --p-color-bg-magic-subdued: #f2edfd;
    --p-color-border-input-hover: #616a75;
    --p-color-border-inverse: #616a75;
    --p-color-border-strong-hover: #87909b;
    --p-color-border-input: #abb1ba;
    --p-color-border-hover: #abb1ba;
    --p-color-border-strong: #abb1ba;
    --p-color-border: #caced3;
    --p-color-border-disabled: #dde0e4;
    --p-color-border-subdued: #dde0e4;
    --p-color-border-interactive-disabled: #dde0e4;
    --p-color-border-primary: #008060;
    --p-color-border-success: #16a679;
    --p-color-border-success-subdued: #c0f2dd;
    --p-color-border-critical-active: #430e04;
    --p-color-border-critical-hover: #731807;
    --p-color-border-critical: #c5280c;
    --p-color-border-critical-subdued: #fbc5bc;
    --p-color-border-caution: #d89b0d;
    --p-color-border-caution-subdued: #fae5b2;
    --p-color-border-info: #3bc3d3;
    --p-color-border-info-subdued: #b8e9ef;
    --p-color-border-interactive-active: #0e356c;
    --p-color-border-interactive-hover: #144995;
    --p-color-border-interactive: #3e7dd5;
    --p-color-border-interactive-focus: #3e7dd5;
    --p-color-border-interactive-subdued: #bbd4f7;
    --p-color-border-magic-strong: #7945e3;
    --p-color-border-magic: #ad8bf1;
    --p-color-icon-hover: #1f2124;
    --p-color-icon: #616a75;
    --p-color-icon-active: #1f2124;
    --p-color-icon-subdued: #87909b;
    --p-color-icon-disabled: #abb1ba;
    --p-color-icon-interactive-disabled: #abb1ba;
    --p-color-icon-inverse: #dde0e4;
    --p-color-icon-on-color: #fff;
    --p-color-icon-primary: #008060;
    --p-color-icon-success: #16a679;
    --p-color-icon-critical: #c5280c;
    --p-color-icon-caution: #b77e0b;
    --p-color-icon-info: #16a679;
    --p-color-icon-warning: #f27522;
    --p-color-icon-interactive-active: #0e356c;
    --p-color-icon-interactive-hover: #144995;
    --p-color-icon-interactive: #2463bc;
    --p-color-icon-interactive-inverse: #6699e1;
    --p-color-icon-magic: #5a24cd;
    --p-color-text: #1f2124;
    --p-color-text-subdued: #616a75;
    --p-color-text-disabled: #87909b;
    --p-color-text-interactive-disabled: #87909b;
    --p-color-text-inverse-subdued: #abb1ba;
    --p-color-text-inverse: #f1f2f4;
    --p-color-text-on-color: #fff;
    --p-color-text-success-strong: #0c3b2f;
    --p-color-text-success: #008060;
    --p-color-text-primary: #008060;
    --p-color-text-primary-hover: #125443;
    --p-color-text-critical-strong: #430e04;
    --p-color-text-critical-active: #731807;
    --p-color-text-critical: #c5280c;
    --p-color-text-caution-strong: #4d2e05;
    --p-color-text-caution: #875c08;
    --p-color-text-info-strong: #104147;
    --p-color-text-info: #20828d;
    --p-color-text-warning-strong: #4d2405;
    --p-color-text-interactive-active: #0e356c;
    --p-color-text-interactive-hover: #144995;
    --p-color-text-interactive: #2463bc;
    --p-color-text-interactive-inverse: #6699e1;
    --p-color-text-magic-strong: #310d78;
    --p-color-text-magic: #5a24cd;
    --p-background: #f6f6f7;
    --p-background-hovered: #f1f2f3;
    --p-background-pressed: #edeeef;
    --p-background-selected: #edeeef;
    --p-surface: #fff;
    --p-surface-dark: #202123;
    --p-surface-neutral: #e4e5e7;
    --p-surface-neutral-hovered: #dbdddf;
    --p-surface-neutral-pressed: #c9ccd0;
    --p-surface-neutral-disabled: #f1f2f3;
    --p-surface-neutral-subdued: #f6f6f7;
    --p-surface-neutral-subdued-dark: #44474a;
    --p-surface-subdued: #fafbfb;
    --p-surface-disabled: #fafbfb;
    --p-surface-hovered: #f6f6f7;
    --p-surface-hovered-dark: #2f3133;
    --p-surface-pressed: #f1f2f3;
    --p-surface-pressed-dark: #3e4043;
    --p-surface-depressed: #edeeef;
    --p-surface-search-field: #f1f2f3;
    --p-surface-search-field-dark: #2f3133;
    --p-backdrop: #00000080;
    --p-overlay: #ffffff80;
    --p-shadow-color-picker: #00000080;
    --p-shadow-color-picker-dragger: #212b3652;
    --p-hint-from-direct-light: #00000026;
    --p-border: #8c9196;
    --p-border-on-dark: #505356;
    --p-border-neutral-subdued: #babfc3;
    --p-border-hovered: #999ea4;
    --p-border-disabled: #d2d5d8;
    --p-border-subdued: #c9cccf;
    --p-border-depressed: #575959;
    --p-border-shadow: #aeb4b9;
    --p-border-shadow-subdued: #babfc4;
    --p-divider: #e1e3e5;
    --p-divider-dark: #454749;
    --p-icon: #5c5f62;
    --p-icon-on-dark: #a6acb2;
    --p-icon-hovered: #1a1c1d;
    --p-icon-pressed: #44474a;
    --p-icon-disabled: #babec3;
    --p-icon-subdued: #8c9196;
    --p-text: #202223;
    --p-text-on-dark: #e3e5e7;
    --p-text-disabled: #8c9196;
    --p-text-subdued: #6d7175;
    --p-text-subdued-on-dark: #999fa4;
    --p-interactive: #2c6ecb;
    --p-interactive-on-dark: #36a3ff;
    --p-interactive-disabled: #bdc1cc;
    --p-interactive-hovered: #1f5199;
    --p-interactive-pressed: #103262;
    --p-interactive-pressed-on-dark: #88bcff;
    --p-focused: #458fff;
    --p-surface-selected: #f2f7fe;
    --p-surface-selected-hovered: #edf4fe;
    --p-surface-selected-pressed: #e5effd;
    --p-icon-on-interactive: #fff;
    --p-text-on-interactive: #fff;
    --p-action-secondary: #fff;
    --p-action-secondary-disabled: #fff;
    --p-action-secondary-hovered: #f6f6f7;
    --p-action-secondary-hovered-dark: #54575b;
    --p-action-secondary-pressed: #f1f2f3;
    --p-action-secondary-pressed-dark: #606467;
    --p-action-secondary-depressed: #6d7175;
    --p-action-primary: #008060;
    --p-action-primary-disabled: #f1f1f1;
    --p-action-primary-hovered: #006e52;
    --p-action-primary-pressed: #005e46;
    --p-action-primary-depressed: #003d2c;
    --p-icon-on-primary: #fff;
    --p-text-on-primary: #fff;
    --p-text-primary: #007b5c;
    --p-text-primary-hovered: #006c50;
    --p-text-primary-pressed: #005c44;
    --p-surface-primary-selected: #f1f8f5;
    --p-surface-primary-selected-hovered: #b3d0c3;
    --p-surface-primary-selected-pressed: #a2bcb0;
    --p-border-critical: #fd5749;
    --p-border-critical-subdued: #e0b3b2;
    --p-border-critical-disabled: #ffa7a3;
    --p-icon-critical: #d72c0d;
    --p-surface-critical: #fed3d1;
    --p-surface-critical-subdued: #fff4f4;
    --p-surface-critical-subdued-hovered: #fff0f0;
    --p-surface-critical-subdued-pressed: #ffe9e8;
    --p-surface-critical-subdued-depressed: #febcb9;
    --p-text-critical: #d72c0d;
    --p-action-critical: #d82c0d;
    --p-action-critical-disabled: #f1f1f1;
    --p-action-critical-hovered: #bc2200;
    --p-action-critical-pressed: #a21b00;
    --p-action-critical-depressed: #6c0f00;
    --p-icon-on-critical: #fff;
    --p-text-on-critical: #fff;
    --p-interactive-critical: #d82c0d;
    --p-interactive-critical-disabled: #fd938d;
    --p-interactive-critical-hovered: #cd290c;
    --p-interactive-critical-pressed: #670f03;
    --p-border-warning: #b98900;
    --p-border-warning-subdued: #e1b878;
    --p-icon-warning: #b98900;
    --p-surface-warning: #ffd79d;
    --p-surface-warning-subdued: #fff5ea;
    --p-surface-warning-subdued-hovered: #fff2e2;
    --p-surface-warning-subdued-pressed: #ffebd3;
    --p-text-warning: #916a00;
    --p-border-highlight: #449da7;
    --p-border-highlight-subdued: #98c6cd;
    --p-icon-highlight: #00a0ac;
    --p-surface-highlight: #a4e8f2;
    --p-surface-highlight-subdued: #ebf9fc;
    --p-surface-highlight-subdued-hovered: #e4f7fa;
    --p-surface-highlight-subdued-pressed: #d5f3f8;
    --p-text-highlight: #347c84;
    --p-border-success: #00a47c;
    --p-border-success-subdued: #95c9b4;
    --p-icon-success: #007f5f;
    --p-surface-success: #aee9d1;
    --p-surface-success-subdued: #f1f8f5;
    --p-surface-success-subdued-hovered: #ecf6f1;
    --p-surface-success-subdued-pressed: #e2f1ea;
    --p-text-success: #008060;
    --p-icon-attention: #8a6116;
    --p-surface-attention: #ffea8a;
    --p-decorative-one-icon: #7e5700;
    --p-decorative-one-surface: #ffc96b;
    --p-decorative-one-text: #3d2800;
    --p-decorative-two-icon: #af294e;
    --p-decorative-two-surface: #ffc4b0;
    --p-decorative-two-text: #490b1c;
    --p-decorative-three-icon: #006d41;
    --p-decorative-three-surface: #92e6b5;
    --p-decorative-three-text: #002f19;
    --p-decorative-four-icon: #006a68;
    --p-decorative-four-surface: #91e0d6;
    --p-decorative-four-text: #002d2d;
    --p-decorative-five-icon: #ae2b4c;
    --p-decorative-five-surface: #fdc9d0;
    --p-decorative-five-text: #4f0e1f;
    --p-shadow-transparent: 0 0 0 0 #0000;
    --p-shadow-faint: 0 0.0625rem 0 0 #161d250d;
    --p-shadow-base: 0 0 0 0.0625rem #3f3f440d, 0 0.0625rem 0.1875rem 0 #3f3f4426;
    --p-shadow-deep: 0 0 0 0.0625rem #062c521a, 0 0.125rem 1rem #212b3614;
    --p-shadow-button: 0 0.0625rem 0 #0000000d;
    --p-shadow-top-bar: 0 0.125rem 0.125rem -0.0625rem #00000026;
    --p-shadow-card: 0 0 0.3125rem #1718180d, 0 0.0625rem 0.125rem #00000026;
    --p-shadow-popover: 0 0.1875rem 0.375rem -0.1875rem #17181814, 0 0.5rem 1.25rem -0.25rem #1718181f;
    --p-shadow-layer: 0 1.9375rem 2.5625rem 0 #202a3533, 0 0.125rem 1rem 0 #202a3614;
    --p-shadow-modal: 0 1.625rem 5rem #0003, 0 0 0.0625rem #0003;
    --p-shadows-inset-button: inset 0 -0.0625rem 0 #0003;
    --p-shadows-inset-button-pressed: inset 0 0.0625rem 0 #00000026;
    --p-font-family-sans: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    --p-font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
    --p-font-size-75: 0.75rem;
    --p-font-size-100: 0.875rem;
    --p-font-size-200: 1rem;
    --p-font-size-300: 1.25rem;
    --p-font-size-400: 1.5rem;
    --p-font-size-500: 1.75rem;
    --p-font-size-600: 2rem;
    --p-font-size-700: 2.5rem;
    --p-font-weight-regular: 400;
    --p-font-weight-medium: 500;
    --p-font-weight-semibold: 600;
    --p-font-weight-bold: 700;
    --p-font-line-height-1: 1rem;
    --p-font-line-height-2: 1.25rem;
    --p-font-line-height-3: 1.5rem;
    --p-font-line-height-4: 1.75rem;
    --p-font-line-height-5: 2rem;
    --p-font-line-height-6: 2.5rem;
    --p-font-line-height-7: 3rem;
    --p-override-loading-z-index: 514;
    --p-choice-size: 1.25rem;
    --p-icon-size-small: 0.5rem;
    --p-icon-size-medium: 1.25rem;
    --p-choice-margin: 0.0625rem;
    --p-control-border-width: 0.125rem;
    --p-banner-border-default: inset 0 0.0625rem 0 0 var(--p-border-neutral-subdued), inset 0 0 0 0.0625rem var(--p-border-neutral-subdued);
    --p-banner-border-success: inset 0 0.0625rem 0 0 var(--p-border-success-subdued), inset 0 0 0 0.0625rem var(--p-border-success-subdued);
    --p-banner-border-highlight: inset 0 0.0625rem 0 0 var(--p-border-highlight-subdued), inset 0 0 0 0.0625rem var(--p-border-highlight-subdued);
    --p-banner-border-warning: inset 0 0.0625rem 0 0 var(--p-border-warning-subdued), inset 0 0 0 0.0625rem var(--p-border-warning-subdued);
    --p-banner-border-critical: inset 0 0.0625rem 0 0 var(--p-border-critical-subdued), inset 0 0 0 0.0625rem var(--p-border-critical-subdued);
    --p-thin-border-subdued: 0.0625rem solid var(--p-border-subdued);
    --p-text-field-spinner-offset: 0.125rem;
    --p-text-field-focus-ring-offset: -0.25rem;
    --p-button-group-item-spacing: -0.0625rem;
    --p-range-slider-thumb-size-base: 1rem;
    --p-range-slider-thumb-size-active: 1.5rem;
    --p-frame-offset: 0rem;
    --p-duration-0: 0ms;
    --p-duration-50: 50ms;
    --p-duration-100: 100ms;
    --p-duration-150: 150ms;
    --p-duration-200: 200ms;
    --p-duration-250: 250ms;
    --p-duration-300: 300ms;
    --p-duration-350: 350ms;
    --p-duration-400: 400ms;
    --p-duration-450: 450ms;
    --p-duration-500: 500ms;
    --p-duration-5000: 5000ms;
    --p-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
    --p-ease-in: cubic-bezier(0.42, 0, 1, 1);
    --p-ease-out: cubic-bezier(0, 0, 0.58, 1);
    --p-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
    --p-linear: cubic-bezier(0, 0, 1, 1);
    --p-keyframes-bounce: p-keyframes-bounce;
    --p-keyframes-fade-in: p-keyframes-fade-in;
    --p-keyframes-pulse: p-keyframes-pulse;
    --p-keyframes-spin: p-keyframes-spin;
    --p-border-radius-05: 0.125rem;
    --p-border-radius-1: 0.25rem;
    --p-border-radius-2: 0.5rem;
    --p-border-radius-3: 0.75rem;
    --p-border-radius-4: 1rem;
    --p-border-radius-5: 1.25rem;
    --p-border-radius-6: 1.875rem;
    --p-border-radius-full: 624.9375rem;
    --p-border-radius-base: 0.1875rem;
    --p-border-radius-large: 0.375rem;
    --p-border-radius-half: 50%;
    --p-border-width-1: 0.0625rem;
    --p-border-width-2: 0.125rem;
    --p-border-width-3: 0.1875rem;
    --p-border-width-4: 0.25rem;
    --p-border-width-5: 0.3125rem;
    --p-border-base: var(--p-border-width-1) solid var(--p-border-subdued);
    --p-border-dark: var(--p-border-width-1) solid var(--p-border);
    --p-border-transparent: var(--p-border-width-1) solid #0000;
    --p-border-divider: var(--p-border-width-1) solid var(--p-divider);
    --p-border-divider-on-dark: var(--p-border-width-1) solid var(--p-divider-dark);
    --p-space-0: 0;
    --p-space-025: 0.0625rem;
    --p-space-05: 0.125rem;
    --p-space-1: 0.25rem;
    --p-space-2: 0.5rem;
    --p-space-3: 0.75rem;
    --p-space-4: 1rem;
    --p-space-5: 1.25rem;
    --p-space-6: 1.5rem;
    --p-space-8: 2rem;
    --p-space-10: 2.5rem;
    --p-space-12: 3rem;
    --p-space-16: 4rem;
    --p-space-20: 5rem;
    --p-space-24: 6rem;
    --p-space-28: 7rem;
    --p-space-32: 8rem;
    --p-z-index-1: 100;
    --p-z-index-2: 400;
    --p-z-index-3: 510;
    --p-z-index-4: 512;
    --p-z-index-5: 513;
    --p-z-index-6: 514;
    --p-z-index-7: 515;
    --p-z-index-8: 516;
    --p-z-index-9: 517;
    --p-z-index-10: 518;
    --p-z-index-11: 519;
    --p-z-index-12: 520;
    --p-z-1: 100;
    --p-z-2: 400;
    --p-z-3: 510;
    --p-z-4: 512;
    --p-z-5: 513;
    --p-z-6: 514;
    --p-z-7: 515;
    --p-z-8: 516;
    --p-z-9: 517;
    --p-z-10: 518;
    --p-z-11: 519;
    --p-z-12: 520;
    color-scheme: light;
    --p-action-primary: #008060;
    --p-action-primary-disabled: #f1f1f1;
    --p-action-primary-hovered: #006e52;
    --p-action-primary-pressed: #005e46;
    --p-action-primary-depressed: #003d2c;
    --p-icon-on-primary: #fff;
    --p-text-critical: #d72c0d;
    --p-action-critical: #d82c0d;
    --p-action-critical-disabled: #f1f1f1;
    --p-action-critical-hovered: #bc2200;
    --p-action-critical-pressed: #a21b00;
    --p-action-critical-depressed: #6c0f00;
    --p-icon-on-critical: #fff;
    --p-text-on-critical: #fff;
    --p-interactive-critical: #d82c0d;
    --p-interactive-critical-disabled: #fd938d;
    --p-interactive-critical-hovered: #cd290c;
    --p-interactive-critical-pressed: #670f03;
}

body {
    color: #202223;
    font-family: var(--p-font-family-sans);
    font-size: var(--p-font-size-100);
    font-weight: var(--p-font-weight-regular);
    letter-spacing: normal;
    line-height: var(--p-font-line-height-2);
    text-transform: none;
}

.btn {
    font-size: var(--p-font-size-100);
    font-weight: var(--p-font-weight-medium);
    justify-content: center;
    letter-spacing: normal;
    min-height: 2.25rem;
    min-width: 2.25rem;
    padding: calc((2.25rem - var(--p-font-line-height-2) - var(--p-space-05))/2) var(--p-space-4);
}

.btn-primary {
    color: #fff;
    background: var(--p-action-primary);
    border-color: #0000;

    &:hover {
        background: var(--p-action-primary-hovered);
        border-color: #0000;
        color: var(--p-text-on-primary);
    }
}

.btn-delete {
    background: #0000;
    border: var(--p-border-width-1) solid var(--p-border-critical);
    box-shadow: none;
    color: var(--p-interactive-critical);

    &:hover {
        background: var(--p-surface-critical-subdued);
        border: var(--p-border-width-1) solid var(--p-border-critical);
        color: var(--p-interactive-critical);
    }
}

.btn-default {
    background: var(--p-surface);
    border: var(--p-border-width-1) solid var(--p-border-neutral-subdued);
    border-bottom-color: var(--p-border-shadow-subdued);
    border-radius: var(--p-border-radius-1);

    &:hover {
        background: var(--p-action-secondary-hovered);
        outline: var(--p-border-width-1) solid #0000;
    }
}

.form-control {
    font-size: 0.875rem;
    color: #202223;

    &:focus {
        color: #202223
    }
}

.bg-gradient-navbar {
    background-color: #0f2771;
    background-image: linear-gradient(180deg, #0f2771 10%, #0f2771 100%);
    background-size: cover;
}

.heading-card {
    margin: 0;
    text-align: inherit;
    color: #202223;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.heading-title {
    display: inline;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 0px;

    span.text {
        margin-left: 0.5rem;
    }
}

.form-label {
    font-size: 0.875rem;
}

.button-prev {
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border: var(--p-border-width-1) solid var(--p-border-neutral-subdued);
    border-radius: var(--p-border-radius-1);
    color: inherit;
    color: var(--p-text-subdued);
    cursor: pointer;
    display: flex;
    font-size: inherit;
    justify-content: center;
    line-height: inherit;
    margin: 0;
    min-height: 2.25rem;
    min-width: 2.25rem;
    padding: 0;
    padding: var(--p-space-05);
    position: relative;
    text-decoration: none;

    span {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;

        svg {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
        }
    }
}

.btn-reset {
    border: none;
    padding: 0;
    border-radius: 0;
    background: none;
    font-size: var(--p-font-size-100);
}

.sidebar {
    min-height: auto;
    height: 100vh;
    position: sticky !important;
    top: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 227px !important;

    &::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #0f2771;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #0f2771;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #0f2771;
    }
}

#wrapper #content-wrapper {
    width: calc(100% - 227px);
}

#form-tags-all {
    input {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.collection-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
    margin-bottom: calc(var(--p-space-4)*-1);
    margin-top: var(--p-space-2);

    &-item {
        margin: 0 var(--p-space-1) var(--p-space-1) 0;
    }

    &-item-tag {
        align-items: center;
        background-color: var(--p-surface-neutral);
        border-radius: var(--p-border-radius-1);
        color: var(--p-text);
        display: inline-flex;
        max-width: 100%;
        min-height: 1.75rem;
        padding: 0;

        &.active {
            background: var(--p-surface-highlight-subdued);
            border-radius: var(--p-border-radius-1);
            box-shadow: inset 0 0 0 0.0625rem var(--p-border-highlight-subdued);
            color: var(--p-decorative-four-icon);
        }
    }
}

.tag-link {
    border-radius: var(--p-border-radius-1);
    color: var(--p-text);
    display: inline-grid;
    min-height: 1.25rem;
    outline: none;
    padding: 0 var(--p-space-2);
    position: relative;
    text-decoration: none;

    &:hover {
        color: var(--p-text);
    }


}

.tag-btn {
    appearance: none;
    background: none;
    border: none;
    border-radius: var(--p-border-radius-full);
    color: inherit;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    font-size: inherit;
    height: 1.25rem;
    line-height: inherit;
    margin: 0;
    margin: 0 var(--p-space-1);
    padding: 0;
    position: relative;
    width: 1.25rem;
    font-size: 0.75rem;
    &-svg {
        display: block;
        height: 1.25rem;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        width: 1.25rem;

        svg {
            display: block;
            max-height: 100%;
            max-width: 100%;
            position: relative;
            width: 100%;
            fill: var(--p-icon);
        }
    }
}